<html>
    <head>
        <title>Chat</title>
        <style>
        input {
            display: block;
        }
        ul {
            list-style: none;
        }
        </style>
    </head>
    <body>
        ChatApp with WebSocket
        <form id="chatbox">
            <p>{{.UserData.name}}</p>
            <textarea></textarea>
            <input type="submit" value="Submit" /><a href="/logout">Sign out</a>
        </form>
        <ul id="messages"></ul>
        <!--jsファイルへのリクエストのhandlerを用意すればファイルを読み込むことは可能
            テンプレート文字列を置換して読み込むか、jsの関数を呼び出して必要な文字列をはめ込む-->
        <script>
        let socket = null;
        const form = document.getElementById("chatbox"), 
          msgBox = document.querySelector("#chatbox > textarea"),
          messages = document.getElementById("messages");

        form.addEventListener("submit", (ev) => {
          ev.preventDefault();
          if (!msgBox.value) {
            return false;
          }
          if (!socket) {
            alert("Error: There is no connection with WebSocket");
            return false;
          }
          socket.send(JSON.stringify({"Message": msgBox.value}));
          msgBox.value = "";

          return false;
        });

        if (!window["WebSocket"]) {
          let msg = "Error: You are using a browser that WebSocket is not available";
          throw new Error(msg);
        }
        // html/templateによって置換
        // r(=http.Request).Hostで置き換える
        socket = new WebSocket("ws://{{.Host}}/room");
        socket.addEventListener("close", (ev) => {
          console.log("Disconnected");
        });
        socket.addEventListener("message", (ev) => {
          data = JSON.parse(ev.data);

          avatarElm = document.createElement("img");
          avatarElm.title = data.Name;  // imgにカーソルを合わせた際に表示する文字列を指定
          avatarElm.style.width = 50;
          avatarElm.style.verticalAlign = "middle";
          avatarElm.src = data.AvatarURL;

          nameElm = document.createElement("strong");
          nameElm.textContent = data.Name;

          whenElm = document.createElement("span");
          whenElm.textContent = "(" + data.When + ")"

          msgElm = document.createElement("span");
          msgElm.textContent = ": " + data.Message;

          newMsg = document.createElement("li");
          newMsg.appendChild(avatarElm);
          newMsg.appendChild(nameElm);
          newMsg.appendChild(whenElm);
          newMsg.appendChild(msgElm);

          messages.appendChild(newMsg);
        });
        </script>
    </body>
</html>
